<header>
    <nav class="navbar navbar-inverse bg-faded">
        <a class="navbar-brand" href="/"> Medical Term Test </a>
        <a class="navbar-brand nav-link" href="/exam/select1"> テスト </a>
        <a class="navbar-brand nav-link" href="/review"> 復習 </a>
        <a class="navbar-brand nav-link" href="/summary"> まとめ </a>
    </nav>
</header>

<h1> どちらを選択しますか？ </h1>

<form action='select2'>
    <button class='btn btn-primary' type='summit'> 日本語から英語 </button>
    <button class='btn btn-primary' type='summit'> 英語から日本語 </button>
</form>
